<section class="middle">
  <h1><i class="icon icon-exclamation-sign"></i> <%=t :event_is_full %></h1>
  <br />
  <div class="err_details"><span><%=t :full_event_note %></span></div>
  <br /><br />
  <a href="/" class="btn"><%=t :back %></a>
</section>
